/* ------------------------------------------
  CSS RESET
--------------------------------------------- */

body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li, hr,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section,
summary, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
}

a:active,
a:hover {
  outline: 0;
}
html, body { overflow-x: hidden; }

/* ------------------------------------------
    NAVBAR STYLES
--------------------------------------------- */
#custom-navbar.navbar {
  border: 0px;
  border-radius: 0;
  width:auto;
}
#custom-navbar.navbar-header {
  width: auto;
}
#custom-navbar.container {
  width: auto;
  margin-left: 3.755%;
  margin-right: 3.755%;
}
#custom-navbar.navbar-default .navbar-brand {
    color: #ffffff;
    padding: 10px;
    padding-left: 16px;;
    height: auto;
}
#custom-navbar.navbar-default .navbar-nav {
    float: right;
}
#custom-navbar.navbar-default {
    font-size: 110%;
    background-color: #004990;
}
#custom-navbar.navbar-default .navbar-nav>li>a {
    color: #ffffff;
    background-color: #004990;
}
#custom-navbar.navbar-default .navbar-nav>li>a:hover {
    background-color: #0381FB;
}
#custom-navbar.navbar-default .navbar-collapse {
  text-align: center;
  width: auto;
  padding: 0px;
}
#custom-navbar.navbar-default .navbar-toggle{
   position: absolute;
   right: 0;
   padding: 10px;
   margin-top: 38px;
   margin-left: 10px;
   margin-right: 10px;
}
#custom-navbar.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
#custom-navbar.navbar-default .navbar-toggle:hover .icon-bar,
#custom-navbar.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #004990;
}
@media only screen and (min-width: 768px) {
  #custom-navbar.navbar-default .navbar-nav>li>a {
    border-left: 1px solid #ffffff;
    height: 110px;
    line-height: 90px;
    padding: 10px;
    width: 100px;
  }
  #custom-navbar.navbar-default .navbar-nav li:last-child {
    border-right: 1px solid #ffffff;
  }
}
@media only screen and (max-width: 1110px) {
  #custom-navbar.navbar-default .navbar-nav {
    display: inline-block;
    float: right;
    width:auto;
    margin-left: 0;
    margin-right: 16px;
  }
  #custom-navbar.container{
    margin: 0;
    padding: 0px;
  }
  #custom-navbar.navbar-default .navbar-brand {
    margin-left: 16px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media only screen and (max-width: 767px) {
  #custom-navbar.navbar-default .navbar-nav {
    float: none;
    width: 100%;
    margin-right: 0px;
  }
  #custom-navbar.navbar-default .navbar-nav>li>a {
    float: none;
    padding-left: 0px;
    padding-right: 0px;
  }
  #custom-navbar.navbar-default .navbar-nav>li {
    float: none;
  }
  #custom-navbar.navbar-default .navbar-brand {
    margin-left: 10px;
    padding-left: 0px;
    padding-right: 0px;
  }
  #custom-navbar.navbar-default .navbar-brand img{
    padding-left: 16px;
  }
}

/* ------------------------------------------
    PAGE STYLES
--------------------------------------------- */
#page.body .container{
  width:auto;
  margin-bottom: 20px;
  padding-left: 4.870811615785555%;
  padding-right: 4.870811615785555%;
}
#page.body .patriots-header h4{
  margin-top: 30px;
  margin-bottom: 30px;
}
#page.body .patriots-header img{
  margin-top: 30px;
}
#page.body .footer-quote{
  margin-top: 20px;
  font-style: italic;
  font-weight:bold;
}
#page.body .header{
  color: #ffffff;
  background-color: #e2383f;
}
#page.body .row{
  padding: 0px;
  margin: 0px;
}
#page.body .header>span{
  padding: 0px;
}
#page.body .header>span>h1{
  margin-top: 10px;
}
#page.body .article-1{
  margin-top: 30px;
  margin-left: 0;
  margin-right: 0;
}
#page.body .article-1 .clearfix .heading-1,
#page.body .article-1 .clearfix .heading-1>h1{
  text-align: center;
}
#page.body .article-1 .clearfix .heading-2{
  display: none;
}
#page.body .article-1 .clearfix .heading-1,
#page.body .article-1 .clearfix .heading-2,
#page.body .article-1 .clearfix .heading-1>h3,
#page.body .article-1 .clearfix .heading-2>h3,
#page.body .article-1 .clearfix .article-1-img{
  margin-top: 0px;
  padding: 0px;
}
#page.body .article-1 .clearfix .img-overlay{
    float:left;
    position:relative;
    padding: 0px;
}
#page.body .article-1 .clearfix .img-overlay .description{
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    /*styling*/
    background-color:black;
    font-family: 'tahoma';
    font-size:15px;
    color:white;
    opacity:0.7;
    filter:alpha(opacity=60);
}
#page.body .article-1 .clearfix .img-overlay .description .description_content{
    padding:10px;
    margin:0px;
    width: auto;
}
#page.body .article-1 .clearfix .article-1-text{
  margin-top: 0px;
  padding: 0px;
  padding-left: 20px;
  text-align: left;
  float: left;
}
@media only screen and (max-width: 1110px) {
  #page.body .container{
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  #page.body .article-1,
  #page.body .article-1 img{
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    text-align: center;
    float: none;
  }
  #page.body .article-1 .clearfix .heading-1{
    display: none;
  }
  #page.body .article-1 .clearfix .heading-2,
  #page.body .article-1 .clearfix .heading-2>h3{
    display: block;
    text-align: center;
  }
  #page.body .article-1 .clearfix .article-1-text>p{
    display: block;
    margin-top: 0px;
  }
  #page.body .article-1 .clearfix .article-1-img,
  #page.body .article-1 .clearfix .article-1-img>img{
    padding: 0px;
    float: left;
  }
}
@media only screen and (max-width: 767px) {
  #page.body .article-1 .clearfix .article-1-text{
    padding: 0px;
  }
  #page.body .article-1 .clearfix .article-1-text p{
    margin-top: 10px;
    text-align: left;
    float: left;
    padding: 0px;
  }
  #page.body .article-1 .clearfix .heading-2,
  #page.body .article-1 .clearfix .heading-2>h3{
    display: block;
    text-align: center;
  }
  #page.body .article-1 .clearfix .article-1-img,
  #page.body .article-1 .clearfix .article-1-img>img{
    padding: 0px;
    float: none;
  }
}
@media only screen and (max-width: 450px) {
  #page.body .header>span>h1{
    font-size: 167%;
  }
  #page.body .article-1 .clearfix .heading-2,
  #page.body .article-1 .clearfix .heading-2>h3{
    font-size: 137%;
  }
}

/* ------------------------------------------
    FOOTER STYLES
--------------------------------------------- */

#custom-footer.navbar-default{
  color: #ffffff;
  background-color: #004990;
  padding: 10px;
  text-align: center;
  float: none;
}
#custom-footer.navbar-default .navbar-bottom {
  display: inline-block;
  text-align: center;
  float: none;
}
#custom-footer.navbar-default .dar-links {
  display: inline-block;
  text-align: center;
  float: none;
}
#custom-footer.navbar-default .dar-links>a {
  color: #ffffff;
  width: 80px;
  padding: 5px;
  font-size: 100%;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  float: none;
  border-left: 1px solid #ffffff;
}
#custom-footer.navbar-default .dar-links>a:last-child{
  border-right: 1px solid #ffffff;
}

#custom-footer.navbar-default .dar-links>a:hover {
  color: #ffffff;
  background-color: #0381FB;
}

#custom-footer.navbar-default .site-info {
  padding-top: 5px;
  padding-bottom: 0px;
}
#custom-footer.navbar-default .site-info>p {
  font-size: 65%;
  margin-bottom: 5px;
}
#custom-footer.navbar-default .site-info>p>a {
  color: #ffffff;
  text-decoration: underline;
  }
#custom-footer.navbar-default .site-info>p>a:hover{
  color: #002B54;
}
#page.body .img-overlay{
    float: none;
    position:relative;
    padding: 0px;
}
#page.body  .img-overlay .description{
    position:absolute;
    bottom:0px;
    width:100%;
    /*styling*/
    background-color:black;
    font-family: 'tahoma';
    font-size:15px;
    color:white;
    opacity:0.7;
    filter:alpha(opacity=60);
}
